.body{
  background:coral;
}

#food {
  animation: food 0.5s ease-out infinite alternate;
  animation-delay: 0.5s;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes food {
  from {
    transform: rotateZ(-10deg) translateY(45px) scale(1);
  }
  to {
    transform: translateY(-40px) scale(1.5);
  }
}

#pan {
  animation: pan 0.5s ease-in infinite alternate;
}

@keyframes pan {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}

#steel {
  animation: steel 0.5s ease-out infinite alternate-reverse;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes steel {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(5deg);
  }
}

.shadow {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  margin-left: 25%;
  /* Similar syntax to box-shadow */
}

.chef {
  padding: 0;
  border-bottom: 4px solid black;
}
